*{
    /* reset */
    margin: 0;
    padding: 0;

    /* main */

    font-family: sans-serif;
    color: #f4f4f4;

    /* css variables */
    --link-color: #bbdefb;


}

body {
    background: #222;
}

main {
    max-width: 650px;
    margin: auto;
    
    background: #222;
    min-height: 100vh;
}

header {
    padding: 2rem 0;
    background: #111;
    text-align: center;
    position: sticky;
    top: 1;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

h1 {
    color: var(--link-color);
    font-size: 4rem;
}

p {
    line-height: 1.5;
}

section {
    margin: 2rem 0;
}

button, a, i {
    outline: none;
    background: none;   
    border: none;
    font-size: 1rem;
}